<nav class="navbar navbar-default fixed-top helix-yellow">
  <div class="container">
    <span class="navbar-brand helix-yellow">
      <img src="/lythgo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Lythgoe Gifs</span>
  </div>
</nav>