.jumbotron h1 {
  color: #662E91;
  font-weight: bold;
}

.jumbotron .lang-logo {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}

.jumbotron .lang-logo img {
  max-width: 100%;
}

.helix-yellow {
  color: #662E91;
  font-weight: bold;
  font-size: larger;
  background: #fdb813;
  border-color: #fdb813;
  border-radius: 0;
}

.helix-purple {
  font-weight: bold;
  color: #fdb813;
  background: #662E91;
  border-color: #662E91;
  font-size: larger;
  border-radius: 0;
}

img.lazy {
  width: 100%;
  max-width: 600px;
  background-image: url('/loading.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

body {
  margin-top: 50px;
}

a {
  color: #662E91;
}

.footer-link {
  color: #fdb813;
  text-decoration: underline;
}

.footer-link:hover {
  color: white;
}

a:hover {
  color: #fdb813;
}