@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
.mt-green {
  color: #000;
  font-weight: bold;
  font-size: larger;
  background: #00b259;
  border-color: #00b259;
  border-radius: 0;
}

.mt-black {
  font-weight: bold;
  color: #fff;
  background: #000;
  border-color: #000;
  font-size: larger;
  border-radius: 0;
}

body {
    background-image: url('/dark-triangles.png');
    margin-top: 60px;
    color: #fff;
}

a {
    color: #eee;
}

a:hover {
    color: #ddd;
}

.footer-link {
  color: #333;
  text-decoration: underline;
}

.footer-link:hover {
  color: #555;
}

* {
    font-family: 'Fira Sans', sans-serif;
}