.jumbotron {
  color: white;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar + .jumbotron {
  margin-top: -20px;
}

.navbar {
  box-shadow:
}

.jumbotron .lang-logo {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}

.jumbotron .lang-logo img {
  max-width: 100%;
}

.helix-yellow {
  color: white !important;
  font-size: larger;
  background: #fdb813;
  border-color: #fdb813;
  border-radius: 0;
}

.helix-purple {
  background: #662E91;
}