<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
    <audio autoplay hidden id="player" loop src="/helixAudio.mp3?v=2"></audio>
    <div class="jumbotron text-center helix-yellow">
      <div class="container">
        <div class="lang-logo helix-purple">
          <img src="/lythgo.png">
        </div>
        <h1>Winning CD<br> One GIF at a time</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col m-0 p-0">
          <h2>Post Statistics</h2>
          <hr>
          <ul id="statList">
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col  m-0 p-0">
          <h2>GIF Archive</h2>
          <hr>
          <div id="gifList" class="d-flex flex-row flex-wrap m-0 p-0">
          </div>
        </div>
      </div>
    </div>
</body>

</html>