<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center helix-yellow">
      <div class="container">
        <a href="/" class="lang-logo helix-purple">
          <img src="/lythgo.png">
        </a>
        <h1>Winning Chief Delphi <br> one meme at a time</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col m-0 p-0">
          <h1>Post Statistics</h1>
          <hr>
          <ul id="statList">
          </ul>
        </div>

      </div>
      <div class="row">
        <div class="col  m-0 p-0">
          <h1>Gif Archive</h1>
          <hr>
          <div id="gifList" class="d-flex flex-row flex-wrap m-0 p-0">
          </div>
        </div>
      </div>
    </div>
</body>

</html>